.book-list-paper {
  width: 70%;
  margin-top: 10px;

  .book-list-item {
    cursor: pointer;
    display: flex;

    .book-item-details {
      margin-left: 50px;
      display: flex;
      flex-wrap: wrap;

      .book-title {
        font-size: 16px;
        width: 100%;
      }
      .book-details-item {
        margin-right: 30px;
      }
    }
  }
}